
h1 {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
}

.main {
    margin-top: 40px;
    margin-bottom: 100px;

}

.alex {
    padding-botton: 20px;
}

.background {

    background-image: url("../images/back3.jpg");
    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {

    background-image: url("../images/back2.png");
    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.dive {

    background-image: url("../images/bild1.png");
    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.comment {
    background-image: url("../images/bild2.png");
    height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.btn-primary {
    color: #fff;
    background-color: grey;
    border-color: grey;
}

.btn-primary:hover {
    background-color: darkgrey;
}

.formfield {
    color: white;
    margin-top: 20px;
}

.formcomment {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    color: white;
}

h5 {

    color: black;
}

.bordercomments {
    padding-top: 20px;
    width: 600px;
    height: 400px;
    overflow: scroll;
    background-color: black;
}

.item:nth-child(odd){
    background-color:black;
}
.item:nth-child(even){
    background-color:#535555;
}

.footer {
    font-style: italic;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 10px;
}

.fieldcomment {
    padding-bottom: 5px;
    /*border-bottom: 1px solid lightgrey;*/
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.commentname {
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-bottom:1px solid white;
}

.comments {
    /*border-bottom: 1px solid lightgrey;*/
    padding-bottom: 5px;
    font-size: 13px;
    color:white;
}

#date {
    margin-top: -7px;

    color:white;
}

h2 {
    text-align: center;
}

.album {
    color: grey;
    text-align: center;
}

.cdcover {
    background-color: black;
}

.cdcov {
    background-color: black;
}

.copy {
    color: dimgrey;
}

hr {
    border-top: 3px solid black;
    margin-bottom: -5px;
}

.menu {
    font-weight: bold;
    color: black;
    padding: 3px 8px 4px 8px;
    font-size: 12px;
}

.menurow {
    margin-top: -20px;
}

.menu:visited {
    color: black;
}

.menu:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.menu:focus {
    text-decoration: none;
}

.delete {
    padding: 2px 3px 2px 3px;
    font-size: 10px;
    border: none;
}

.formedit {
    color: black;
}

.edit {
    background-color: ghostwhite;
}

.concert {
    font-size: 15px;
}

.concerts {
    margin-top: 20px;
    border: 1px solid black;
}

.concertlist{
    border-bottom:1px solid lightgrey;
    padding-bottom:15px;
    font-size: 15px;
    font-weight: bold;
    color:#47C49A;



}
#concert{
    padding-bottom:25px;
}
#concertheading{
    margin-bottom:30px;
    margin-top:15px;
    font-size: 25px;
    margin-left:15px;
}
.info{
    margin-top:10px;
    background-color:#47C49A;
    border:none;
}
.fans{
    margin-left:25px;
}
.addcomment{
    font-size: 30px;
    color:white;
    border-bottom:4px solid white;
    font-weight: bold;
    line-height: 0.9;
}
.songslist{
    margin-top:50px;
    color:white;
    border-top:4px solid white;
    font-size:20px;
    font-weight: bold;

}

.singles{
    margin-top:50px;
    color:white;
    font-size:20px;
    font-weight: bold;
}
.albumbutton{
    background:none;
    border:none;
    margin:0;
    padding:0;
    color:white;
    font-size: 14px;
    text-decoration: none;
}
.albumbutton:hover{
    color:grey;
}

.albumbutton:focus{
    outline:0;
}

#homealbums{
    background-color:black;
}
.songlist{
    color:white;
    font-size: 12px;
    line-height: 0.9;
    display:none;

}

.cd{
    text-decoration: underline;
}
.editcomment{
    background-color: lightgrey;
    color:black;
}
.editcomments{
    color:black;
}
.editcommentanme{
    color:black
}
.editdate{
    color:black;
}

.admincomment{
    color:red;
}
.songs{
    border-top:1px solid grey;
    margin-left:15px;
    margin-top:20px;

}
.suck{
    width:200px;
}
.albumheading{

    margin-top:17px;
    font-size:30px;
}
.first{
    margin-bottom:250px;
}
.albums{
    height:800px;
}
