/* headings */
h1 {
    margin-left: 10px;
}

h4 {
    text-align: center;
    color: white;
}

h5 {

    color: black;
}

h2 {
    text-align: center;
}

#concertheading {
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 25px;
    margin-left: 15px;
}

/* end headings */

/* Backgrounds */

.header {

    background-image: url("../images/back2.png");
    height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.dive {

    background-image: url("../images/bild1.png");
    height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.comment {
    background-color: black;
}

/* End backgrounds */
.main {
    margin-top: 40px;
    margin-bottom: 100px;

}

.alex {
    padding-botton: 20px;
}

/* Buttons */
.btn-primary {
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    background: #fff;
    padding: 2px 5px 1px;
}

.btn-primary:hover {
    background-color: darkgrey;
}

/* menu */
hr {
    border-top: 3px solid black;
    margin-bottom: -5px;
}

.menu:visited {
    color: black;
}

.menu:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.menu:focus {
    text-decoration: none;
}

.menu {
    font-weight: bold;
    color: black;
    padding: 3px 8px 4px 8px;
    font-size: 12px;
}

.menurow {
    margin-top: -20px;
}

/* end menu */

.delete {
    padding: 2px 3px 2px 3px;
    font-size: 10px;
    border: none;
}

.albumbutton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.albumbutton:hover {
    color: grey;
}

.albumbutton:focus {
    outline: 0;
}
.add{
    background-color:black;
    color:white;
    margin-right:2px;
}

/* End buttons */

/* Form */

.formfield {
    color: white;
    margin-top: 20px;
}

.formcomment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bordercomments {
    padding-top: 20px;
    width: 500px;
    height: 400px;
    overflow: auto;
    background-color: black;
}

.commentname {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.comments {
    font-size: 13px;
    color: white;
}

#date {
    margin-top: -7px;

    color: white;
}

.fieldcomment {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
}

.fans {
    margin-left: 25px;
}

.addcomment {
    font-size: 30px;
    color: white;
    border-top: 4px solid white;
    font-weight: bold;

}

/* End form */

/* Footer */

.footer {
    font-style: italic;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 10px;
}

.copy {
    color: dimgrey;
    border-top: 1px solid dimgrey;
    padding-top: 5px;
}

/* End footer */


/* Releases page*/

.songslist {
    margin-top: 50px;
    color: white;
    border-top: 4px solid white;
    font-size: 20px;
    font-weight: bold;

}

.singles {
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.albumheadings {
    margin-top: 17px;
    font-size: 13px;
    margin-bottom:-33px;
    color:white;
}



.songs {
    border-top: 1px solid grey;
    margin-left: 15px;
    margin-top: 20px;
    color:white;


}


.albums {
    background-color: black;
}

.releases {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.single{
    margin-bottom:50px;
}
/* End releases page*/

/* Concert page*/
.concert {
    font-size: 15px;
}

.concerts {
    margin-top: 20px;
    border: 1px solid black;
}

.concertlist {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;

}

#concert {
    padding-bottom: 25px;
}
.info {
    margin-top: 10px;
    background-color: #eee8d8;
    border: none;
}

#concertclick {
    height: 635px;
}

/* End concert page*/

.first {
    margin-bottom: 250px;
}

.second {
    padding-top: 8px;
    padding-left: 8px;

}